tqdm
wandb
joblib
Pillow

# data science
numpy
pandas
seaborn
matplotlib
scikit-learn

# computer vision
opencv-python

# torch
torch
torchvision
torchsummary
torchmetrics

# lightning
pytorch-lightning